# Default to ascii unless otherwise specified
*.JCL              zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.XML              zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1
